<div class="forgot-password-card">
  <h1 class="titulo">¿Has olvidado tu contraseña?</h1>

  <form (ngSubmit)="solicitarRecuperacion()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Ingresa tu email" />
    </div>
    <button type="submit" class="boton">Solicitar Recuperación</button>
  </form>

  <!-- Mostrar solo el mensaje de la nueva contraseña -->
  <div *ngIf="nuevaContrasenaGenerada" class="nueva-contraseña">
    Tu nueva contraseña es: {{ nuevaContrasenaGenerada }}
  </div>

  <!-- Mostrar mensaje de error o éxito -->
  <div *ngIf="mensaje" class="mensaje" [ngClass]="{'success': mensaje.includes('encontrado'), 'error': mensaje.includes('Error')}">
    {{ mensaje }}
  </div>

  <button class="boton-volver" (click)="irAlLogin()">Volver al Login</button>
</div>
