/* Reset global básico */
html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

/* Opcional: Asegura que el app ocupa el 100% del viewport */
body, app-root {
  min-height: 100vh;
}
